@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Piazzolla');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Kumbh+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');


:root {
  --softwhite: #fbfaf5;
  --softwhitergb: rgb(251, 250, 245);
  --lightpink: #d4b9be;
  --mauve: #9c7067;
  --skyblue: #b2c5d9;
  --lightgreen: #d4df9e;
  --mediumgreen: #5f6d57;
  --darkgreen: #24361b;
  --darkgreenrgb: rgb(36, 54, 27);
  --darkpurple: #331e38;
  --smokeyblack: #12100e;
}

body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
}

.Page-Content {
  height: 90vh;
}

/* NavBar FORMATTING */

.NavBar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
  background-color: var(--softwhite);
  font-family: 'Piazzolla';
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 5px; */
}

/* LINK FORMATTING */

a.button {
  color: var(--darkgreen);
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 1.2em;
}

.RSVPbutton {
  color: var(--mediumgreen);
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Calistoga';
  font-weight: 800;
  font-size: 1.2em;
  font-style: italic;
}

.NavLinks a:link {
  text-decoration: none;
}

.NavLinks a:visited {
  text-decoration: none;
}

.NavLinks a:hover {
  background-color: var(--skyblue);
}

.NavLinks a:active {
  text-decoration: underline;
}

/* HOME PAGE FORMATTING */

.Home-cover-image-container {
  width: 100vw;
  height: 90vh;
  background-image: url("./Images/bumblebeewalk.jpeg");
  background-size: cover;
  overflow: hidden;
  background-position: 20% 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Were-getting-married {
  color: var(--softwhite);
  font-family: 'Alex Brush';
  font-size: 6em;
  margin: 20px;
  text-shadow: 2px 1px 2px var(--mauve);
}

.Wedding-deets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Wedding-deets {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(251,250,245,.5);
}

.Wedding-deets p {
  text-align: left;
  color: var(--darkgreen);
  font-family: 'Piazzolla';
  font-size: 1.5em;
  margin: 0px;
  font-weight: bold;
}

iframe {
  height: 90vh;
  width: 100vw;
}

/* DETAILS INFORMATION */

.Details {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.Details-Content {
  display: flex;
  flex-direction: row;
  width: 85vw;
}

/* DETAILS NAV */
.Details-Nav-Bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./Images/tornpinkpaper.jpg');
  background-position: 60% 30%;
  width: 200px;
  font-size: .75em;
}

.NavBar a.button {
  color: var(--darkgreen);
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 1.2em;
}

.Details-Nav-Links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Details-Nav-Links a:link {
  text-decoration: none;
  font-family: 'Piazzolla';
  color: var(--smokeyblack);
  border-radius: 20px;
}

.Details-Nav-Links a:visited {
  text-decoration: none;
}

.Details-Nav-Links a:hover {
  text-decoration: underline var(--softwhite);
}

.Details-Nav-Links a:active {
  text-decoration: underline;
}

/* DETAILS OVERVIEW */

.Details-Overview{
  display: flex;
  flex-direction: column;
  background-color: var(--softwhite);
  border: solid 5px var(--lightpink);
  padding: 10px;
  color: var(--darkgreen);
  justify-content: space-evenly;
  width: 100%;
}

.Details-Overview-Header {
  /* background-color: var(--skyblue); */
  color: var(--smokeyblack);
  text-shadow: 1px 1px 1px var(--skyblue);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0px;
}

/* DETAILS VENUE */

.Details-Venue {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.Details-Venue-Images-Row1 {
  display: flex;
  flex-direction: row;
  background-color: var(--softwhite);
  justify-content: space-evenly;
  overflow: hidden;
  height: 40vh;
  border: 4px solid var(--lightpink);
  border-top: 2px solid var(--lightpink);

}

.Details-Venue-Images-Row1 img {
  height: 40vh;
  object-fit: contain;
}

.Venue-Details {
  display: flex;
  flex-direction: row;
  height: 50vh;
  border: 4px solid var(--lightpink);
  border-bottom: 2px solid var(--lightpink);
  background-color: var(--softwhite);
}

.Details-Venue-Text {
  font-family: "Raleway";
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}

.Details-Venue-Text p {
  margin: 5px;
}

.June-Farms-Logo {
  display: block;
  justify-content: top;
  margin: 20px;
}

.June-Farms-Logo img {
  content: url("./Images/junefarmslogo.png");
  height: 100px;
}

.Cows img {
  content: url("./Images/cow.jpeg"); 
}

.Pony-Barn img {
  content: url("./Images/ponybarn.jpeg"); 
}

.Barn-and-Truck img {
  content: url("./Images/barnandtruck.jpeg"); 
}

.Tractor img {
  content: url("./Images/tractor.jpeg"); 
}

/* DETAILS DRESS CODE */
.Details-Dress-Code {
  background-color: VAR(--softwhite);
  padding: 10px;
  color: var(--darkgreen);
  border: solid 5px var(--lightpink);
  display: flex;
  flex-direction: column;
}

.Dress-Code-Header {
  color: var(--smokeyblack);
  text-decoration: underline var(--skyblue);
}

.Dress-Code-Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Dress-Code-Row1 {
  display: flex;
  flex-direction: column;
}

.Dress-Code-Row1 h4, h5 {
  margin: 10px;
}

.Dress-Code-Row2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: .75em;
}

/* DETAILS FOOD DRINK */

.Details-Food-Drink {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Drinks img{
  content: url("./Images/drinks.jpeg"); 
}

/* .Drinks {
  placeholder
} */

.Outdoor-Drinks img {
  content: url("./Images/outdoordrinks.jpeg"); 
}

/* .Outdoor-Drinks {
  placeholder
} */

/* TRAVEL */

.Travel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: var(--skyblue);
}

.Getting-to-the-area {
  display: flex;
  flex-direction: column;
}

.Getting-to-the-area h2 {
  margin-bottom: 0px;
  color: var(--smokeyblack);
}

.Getting-to-the-area p {
  margin-bottom: 0px;
  color: var(--smokeyblack);
}

.Getting-to-the-venue {
  display: flex;
  flex-direction: column;
}

.Getting-to-the-venue h2 {
  margin-bottom: 0px;  
  color: var(--smokeyblack);
}

.Getting-to-the-venue p {
  margin-bottom: 0px;  
  color: var(--smokeyblack);
}