@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Calistoga');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Satisfy');



:root {
  --softwhite: #fbfaf5;
  --softwhitergb: rgb(251, 250, 245);
  --lightpink: #d4b9be;
  --mauve: #9c7067;
  --skyblue: #b2c5d9;
  --lightgreen: #d4df9e;
  --mediumgreen: #5f6d57;
  --darkgreen: #24361b;
  --darkgreenrgb: rgb(36, 54, 27);
  --darkpurple: #331e38;
  --smokeyblack: #12100e;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.Page-Content {
  height: 90vh;
}

/* NavBar FORMATTING */

.NavBar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
  background-color: var(--softwhite);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

/* LINK FORMATTING */

a.button {
  color: var(--darkgreen);
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Calistoga';
  font-weight: 800;
  font-size: 1.2em;
}

.RSVPbutton {
  color: var(--mediumgreen);
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Calistoga';
  font-weight: 800;
  font-size: 1.2em;
  font-style: italic;
}

.NavLinks a:link {
  text-decoration: none;
}

.NavLinks a:visited {
  text-decoration: none;
}

.NavLinks a:hover {
  background-color: var(--skyblue);
}

.NavLinks a:active {
  text-decoration: underline;
}

/* HOME PAGE FORMATTING */

.Home-cover-image-container {
  width: 100vw;
  height: 90vh;
  background-image: url("./Images/bumblebeewalk.jpeg");
  background-size: cover;
  overflow: hidden;
  background-position: 20% 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Were-getting-married {
  color: var(--softwhite);
  font-family: 'Dancing Script';
  font-size: 6em;
  margin: 20px;
  text-shadow: 2px 1px 2px var(--mauve);
}

.Wedding-deets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Wedding-deets {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(251,250,245,.5);
}

.Wedding-deets p {
  text-align: left;
  color: var(--darkgreen);
  font-family: 'Satisfy';
  font-size: 1.5em;
  margin: 0px;
  font-weight: bold;
}

iframe {
  height: 90vh;
  width: 100vw;
}

/* DETAILS INFORMATION */

.Details {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.Details-Content {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

/* DETAILS NAV */
.Details-Nav-Bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightpink);
  width: 20vw;
}

.Details-Nav-Links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Details-Nav-Links a:link {
  text-decoration: none;
  font-family: 'Satisfy';
  color: var(--smokeyblack)
}

.Details-Nav-Links a:visited {
  text-decoration: none;
}

.Details-Nav-Links a:hover {
  text-decoration: underline var(--softwhite);
}

.Details-Nav-Links a:active {
  text-decoration: underline;
}

/* DETAILS VENUE */

.Details-Venue {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}
/* .Details-Venue img{
  display: flex;
  flex-direction: column;
  height: 40vh;
} */

.Details-Venue-Images-Row1 {
  display: flex;
  flex-direction: row;
  background-color: var(--softwhite);
  justify-content: space-evenly;
  overflow: hidden;
  height: 40vh;
}

.Details-Venue-Images-Row1 img {
  height: 40vh;
  object-fit: contain;
}


.Venue-Details {
  display: flex;
  flex-direction: row;
  height: 50vh;
  background-color: var(--softwhite)
}

.June-Farms-Logo {
  display: block;
  justify-content: top;
  margin: 20px;
}

.June-Farms-Logo img {
  content: url("./Images/junefarmslogo.png");
  height: 100px;
}

.Cows img {
  content: url("./Images/cow.jpeg"); 
}

.Pony-Barn img {
  content: url("./Images/ponybarn.jpeg"); 
}

.Barn-and-Truck img {
  content: url("./Images/barnandtruck.jpeg"); 
}

.Tractor img {
  content: url("./Images/tractor.jpeg"); 
}



/* DETAILS FOOD DRINK */

.Details-Food-Drink {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Drinks img{
  content: url("./Images/drinks.jpeg"); 
}

/* .Drinks {
  placeholder
} */

.Outdoor-Drinks img {
  content: url("./Images/outdoordrinks.jpeg"); 
}

/* .Outdoor-Drinks {
  placeholder
} */